* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 129px;
    height: 40px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRysseZwYuVdZVK3xTnaHDXNT9iT3yfRvKV5A&s);

}

.navigation {
    display: flex;
    gap: 70px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.navigation a:hover {
    color: #ff3c00;
}

.hero {
    height: 1px;
    background-color: #000000;
    opacity: 20%;
}

.gallery{
    padding: 60px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    height: 220px;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    color: #ff3c00;
}

.footer {
    height: 70px;
    width: 100%;
    min-width: 1440px;
    background: #f8f8f8;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0;
}