body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

header {
    background: #CF4f76;
    color: rgb(255, 255, 255);
    padding: 1px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: rgb(22, 22, 22);
    font-weight: bold;
    padding: 50px;
    border-radius: 6px;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

article {
    flex: 2;
    background: #dadada;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

aside {
    flex: 1;
    background: #b6b6b6;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

footer {
    background: #CF4f76;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 30px;
}
